body {
    /*  padding-top: 70px;*/
    padding-bottom: 40px;
    color: white;
    background-color: #0281b4;
    font-family: fantasy;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */


/* Special class on .container surrounding .navbar, used for positioning it into place. */

.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

a {
    color: white;
}


/* Flip around the padding for proper display in narrow viewports */

.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-wrapper .navbar .container {
    width: auto;
}

.navbar-static-top {
    background-color: transparent;
    border: darkred;
}


/*.navbar-inverse .navbar-brand {
    color: navajowhite;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: white;
    background-color: transparent;
}
.navbar-inverse .navbar-nav li a:hover {
    background-color: rgba(252, 174, 84, 0.5);
}
.navbar-inverse .navbar-nav li a.dropdown-toggle:focus {
    background-color: rgba(252, 174, 84, 0.5);
}
.navbar-right .dropdown-menu {
    background-color: darkred;
}
.navbar-right .dropdown-menu li a:hover {
    background-color: rgba(252, 174, 84, 0.5);
}
*/


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */


/* Carousel base class */

.carousel {
    height: 500px;
    margin-bottom: 60px;
}


/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    z-index: 10;
}


/* Declare heights because of positioning of img element */

.carousel .item {
    height: 500px;
    background-color: #777;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.starter-template h1 {
    font-size: 48px;
    font-family: fantasy;
}


/*Hamburger icon*/

nav,
nav ul {
    position: fixed;
    width: 100%;
    height: 100%;
}

nav {
/*    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);*/
    opacity: 0;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

nav ul li {
    display: table;
    width: 100%;
    height: calc(100% /4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background-color: black;
    -webkit-perspective: 0px;
    perspective: 0px;
    -webkit-transform: rotateX(-90deg) scale(0.5);
    transform: rotateX(-90deg) scale(0.5);
    -webkit-transition: all 0.3s ease 0.1s;
    transition: all 0.3s ease 0.1s;
}

nav ul li a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    font-size: 2.5em;
    letter-spacing: 0.2em;
    color: #fff;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    font-family: 'Helvetica', sans-serif;
    font-weight: 100;
}

nav ul li a:hover {
    background-color: black;
}

#toggle {
    display: none;
}

#toggle + #toggle-btn,
.nav-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 3px;
    cursor: pointer;
}

#toggle + #toggle-btn {
    height: 40px;
    width: 40px;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.05);
}

.nav-icon,
.nav-icon:before,
.nav-icon:after {
    position: absolute;
    height: 4px;
    width: 40px;
    margin: 18px 0;
    z-index: 900;
    border-radius: 3px;
    background: #fff;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

.nav-icon:before {
    content: "";
    margin-top: -18px;
}

.nav-icon:after {
    content: "";
    margin-top: 18px;
}

#toggle:checked ~ nav {
    opacity: 1;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

#toggle:checked ~ .nav-icon {
    background: rgba(255, 0, 0, 0);
}

#toggle:checked ~ .nav-icon:before {
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
    margin-top: 0;
}

#toggle:checked ~ .nav-icon:after {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    margin-top: 0;
}
#course {
    background-color: white;
    text-align: center;
    padding: 30px;
}

#header {
    background-color: #0281b4;
    padding: 30px;
}

#course h1 {
    color: black;
}
#course i{
    color:black;
}

#toggle:checked ~ nav ul li {
    -webkit-transform: rotateY(0deg) scale(1);
    transform: rotateY(0deg) scale(1);
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left:0;
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}


/*
footer {
    background-color: #777;
}